  body {
    background-color: #b1d2d6;   
  }
  #login {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  #login img {
    padding-bottom: 40px;
  }
  #login h2 {
    color: white;
    font-weight: normal;
  }
  #submitSuccess {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }

  button {
    margin-top: 30px;
    /* background-color: #b1d2d6; */
    background-image: linear-gradient(#99cdd4, #6cc5c7 60%, #2eb8b8) !important;
  }

  #loggedin h2 {
    color: #19625a;
  }
  #signout {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }

  .form-signin {
    background: linear-gradient(120deg, #274542, #19625a) !important;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading {
    margin-bottom: 30px;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input {
    border-radius: 6px;
  }
  .form-signin #inputUserName {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .form-signin #inputPassword {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .form-group {
    margin-bottom: 2px;    
  }
  footer {
    margin-top: 30px;
    padding: 20px 0;
    height: 60px;
    text-align: center;
    background-color: #1f87c2;
    color: white;
  }
  
 